a.navbar {
    font-size: 50px; color: black; 
    
}

a.nav-link { 
    font-size: 25px; color: lightgray; 
    font-family: cursive;
}

.container {
    width: 55%;
    border: 2px solid black;
    background-color:gainsboro;
}

.quote { 
    color: aliceblue;
    text-align: end;
    margin-top: 35%;
    margin-right: 15%;
    font-size: 35px;
    font-family: cursive;
}
.home {
    text-align: center;
    font-size: 45px;
    color: darkgrey;
    font-family: cursive;
}

p {
    font-size: 35px;
}

#contact {
    text-align: center;
    font-size: 25px;
}

h4 {
    font-size: 35px;
}
h1 {
    font-weight: lighter; font-size: 60px; text-align: center;
}

h2 {
    font-size: 30px; font-weight: lighter; 
}

.card {
    background-color: darkgrey;
    border: 2px solid black;
    width: 45px;
    height: 200px;
    margin-top: 20px;
    overflow: auto;
    
}